body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
  }
  
  h1 {
    color: #4d2929;
  }
  
  p {
    font-size: 18px;
    margin: 10px;
  }
  